movies.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movies">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="type">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="release_year">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="country">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="movie">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="city">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="lat" type="xs:decimal" use="required" />
                                        <xs:attribute name="lon" type="xs:decimal" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="listed_in" type="xs:string" />
                                <xs:element name="title" type="xs:string" />
                                <xs:element name="rating" type="xs:string" />
                                <xs:element name="score" type="xs:decimal" />
                                <xs:element name="duration" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="country" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="release_year" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>